html{
  background:url(https://cdn.glitch.com/e22aea1f-602c-4e64-8a7c-e3ebe2495c36%2Fart-art-materials-blank-416346.jpg?1549641827539);
  background-attachment:fixed;
  background-size:1400px;
}


body{
	background-color:#f2f2f2;
  background-opacity: 63;
	color:#555;
	font-family: 'Open Sans Condensed';
  font-size: 16px;
	line-height:1.8em;
	margin:300px;
  padding: 18px;
  
  
}

H1{
  text-align: center;
  color: turquoise;
  font-family: 'Raleway', sans-serif;
  font-size: 68px;
  padding: 52px;
}



button{
  radius: 45;
}
*/ How do I assign this to my html button? /*
